<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <% if(user){ %>
        <div> Greetings <%= user.email %>
        </div>
        <a href="/logout">Log out</a>
        <div><a href="/create">Create message</a></div>
    <% } else { %>
        <a href="/signup">Sign up</a>
        <a href="/login">Log in</a>
    <% } %>
    
    <div>
        <h4>Messages:</h4>
        <% for(let i=0; i< messages.length ;i++){ %>
            
            <div>
            <div><%= messages[i].content %></div>
            <% if(user.membership===true) { %>
                <div>- <%= messages[i].firstname %> <%= messages[i].lastname %></div>
            <% } %>
            </div>
        <% } %>
    </div>
</body>
</html>